@font-face {
  font-family: 'iconfont';  /* project id 1183437 */
  src: url('//at.alicdn.com/t/font_1183437_54euhyjrxlf.eot');
  src: url('//at.alicdn.com/t/font_1183437_54euhyjrxlf.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_1183437_54euhyjrxlf.woff2') format('woff2'),
  url('//at.alicdn.com/t/font_1183437_54euhyjrxlf.woff') format('woff'),
  url('//at.alicdn.com/t/font_1183437_54euhyjrxlf.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_1183437_54euhyjrxlf.svg#iconfont') format('svg');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-tiaoseban:before {
  content: "\e671";
}

